@model IEnumerable<WebApplication2.Models.mahasiswa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nm_mhs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nm_mhs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alamat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nip }) |
            @Html.ActionLink("Details", "Details", new { id=item.nip }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nip })
        </td>
    </tr>
}

</table>
